
/* =================================================================Big tablets */
@media only screen and (max-width: 1200px){
	header {
		position: relative;
		background: url('salad.jpg');
		background-position: 20%, 20%;
		background-attachment: fixed;
		background-size: 100%;
		height: 280px;
		padding: 72px;
	}

	.heading ul {
		
		width: 38%;
		background-color: rgba(43,23,43,0.8);
		padding: 15px;
	   	color: #fff;
	   	letter-spacing: 5px;
	   	border: none;
	   	text-align: left;
	   	font-size: 100%;
	}

	.heading ul li {
		list-style: none;
	}

	.heading ul {
		
		width: 50%;
		background-color: rgba(43,23,43,0.8);
		padding: 15px;
	   	color: #fff;
	   	letter-spacing: 5px;
	   	border: none;
	   	text-align: left;
	   	font-size: 100%;
	}

	.heading ul li {
		list-style: none;
	}

	nav ul:last-child li {
		text-align: right;
		padding-right: 25px;
	}
}

/* ================================================================= Medium Tablets */
@media only screen and (max-width: 1023px){
	header {
		position: relative;
		background: url('salad.jpg');
		background-position: 20%, 20%;
		background-attachment: fixed;
		background-size: 100%;
		height: 280px;
		padding: 72px;
	}

	.heading ul {
		
		width: 50%;
		background-color: rgba(43,23,43,0.8);
		padding: 15px;
	   	color: #fff;
	   	letter-spacing: 5px;
	   	border: none;
	   	text-align: left;
	   	font-size: 100%;
	}

	.heading ul li {
		list-style: none;
	}
	
	.section-delivery h2,
	.section-fresh h2 {
		margin-top: 40px;
	}

	/*nav*/

	.menu-container a {
		cursor: "pointer";
	}

	.menu {
		display: none;
	}

	nav {
		width: 100%;
		padding: 25px;
	}

	nav img {
		height: 95px;
		width: auto;
	}

	nav ul {
		display: inline-block;
	}

	.links {
		width: 70%;
		text-align: right;
		font-size: 120%;
		vertical-align: middle;
	}

	.logo {
		width: 29%;
		padding-left: 30px;
	}

	nav li {
		list-style: none;
		display: inline-block;
		padding-right: 40px;
	}

	nav ul:last-child li {
		text-align: right;
		padding-right: 0px;
	}

	nav ul li a:link,
	nav ul li a:visited {
		color: #000;
		padding-bottom: 5px;
		border-bottom: 2px solid transparent;
		transition: border-bottom 0.5s;
	}

	nav ul li a:hover,
	nav ul li a:active {
		text-decoration: none;
		color: #000;
		border-bottom: 2px solid #000;
	}
}

/* =================================================================Smartphones */
@media only screen and (max-width: 767px){

	header {
		position: relative;
		background: url('salad.jpg');
		background-position: 20%, 20%;
		background-size: 100%;
		height: 280px;
		padding: 0;
		clear: both;
	}

	.heading ul {
		
		width: 100%;
		position: absolute;
		bottom: 0;
		background-color: rgba(43,23,43,0.8);
		padding: 15px;
	   	color: #fff;
	   	letter-spacing: 5px;
	   	border: none;
	   	text-align: left;
	   	font-size: 100%;
	}

	.heading ul li {
		list-style: none;
		display: inline-block;
	}

	footer ul {
		display: block;
	}

	.social-links {
		margin-top: 30px;
		text-align: left;
		width: 100%;
	}	

	/*nav*/

	.menu-container {
		width: 18%;
		float: right;
		display: block;
		height: 100px;
		text-align: center;
	}

	.menu-container a {
		cursor: "pointer";
	}

	.menu {
		display: block;
	}

	nav {
		width: 100%;
		padding: 25px;
	}

	nav img {
		height: 95px;
		width: auto;
	}

	nav ul {
		display: inline-block;
	}

	.links {
		width: 53%;
		text-align: right;
		font-size: 120%;
		vertical-align: middle;
		float: left;
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.3s, border 0.3s;
	}

	.links li {
		display: block;
		color: white;
		padding: 5px;
		transition: border-bottom 0.1s
	}

	.links li:hover {
		display: block;
		border-right: 5px solid #000;
	}

	.show-links {
		max-height: 175px;
		border-right: 1px solid #E0E0E0;
		margin-bottom: 34px;
	}

	.logo {
		width: 29%;
		padding-left: 30px;
		float: left;
	}

	nav ul:last-child li {
		list-style: none;
		display: block;
		padding-right: 40px;
	}

	nav ul:last-child li:hover {
		text-align: right;
		padding-right: 0px;
		background-color: blue;
	}

	nav ul li a:link,
	nav ul li a:visited {
		color: #000;
		padding-bottom: 5px;
		padding-right: 18px;
		border-bottom: none;
		transition: border-bottom 0.5s;
	}

	nav ul li a:hover,
	nav ul li a:active {
		text-decoration: none;
		color: #000;
	}
}

/* Smartphones */
@media only screen and (max-width: 480px){
	header {
		position: relative;
		background: url('salad.jpg');
		background-position: 20%, 20%;
		background-size: 100%;
		height: 280px;
		padding: 72px;
	}

	.heading {
		display: none;
	}

	.address {
		font-size: 88%;
		width: 100%;
		letter-spacing: 2px;
	}

	.social-links {
		text-align: left;
	}

	.social-links li {
		display: inline-block;
		margin-right: 5px;
	}

	.social-links li a {
		display: inline-block;
		margin-right: 15px;
		color: #686868;
		transition: color 0.2s;
	}

	.social-links li a:hover,
	.social-links li a:active {
		color: #ddd;
	}

	.restaurant {
		height: auto;
		width: 100%;
		padding: 10px;
		border: 5px solid #2B172B;
		margin: 0 auto;
	}
	.fruits {
		height: auto;
		width: 100%;
		padding: 10px;
		border: 5px solid #2B172B;
		margin: 0 auto;
	}
}

@media only screen and (max-width: 432px){

	header {
		position: relative;
		background: url('salad.jpg');
		background-position: center;
		background-size: cover;
		background-attachment: no-repeat;
		height: 280px;
		padding: 72px;
	}
}